.vscode/
.idea/
__pycache__/
*.egg-info
build
dist
.DS_Store
.trash/
.venv/
venv/
.claude/

# files from script downloads
openfold3/resources/
tests/test_data/sample_feats.pickle
cutlass/

# Outputs
base_query_*.json
prediction_*/